a {
    font-family: 'Heebo', sans-serif;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--accent-color);
    display: inline-flex;
    align-items: center;
}

a::after {
    font-family: 'Material Symbols Outlined', sans-serif;
    content: '\eac9';
    font-size: 25px;
    margin-left: 4px;
}
